@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body.scroll-lock {
    height: 100vh;
    overflow: hidden;
  }

/* Custom Scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 3px; /* vertical scrollbar width */
  height: 8px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: var(--main-color); /* track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--second-bg-color); /* thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color); /* thumb hover color */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --main-color: #00abf0;
    --text-color: #ededed;
}

body{
    background-color: #081b29;
    color: #ededed;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header{
    background-color: #081b29;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-img img {
    width: 350px; /* Adjust size */
    height: auto;
    margin-left: 70%;
    margin-top: 10%;
    border-radius: 50%;
    border: #00abf0 5px solid;
}

.img-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.navbar a{
    font-size: 18px;
    font-weight: 500;
    color: #ededed;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.home-content{
    max-width: 600px;
}

.home-content h3 span{
    position: relative;
    display: inline-block;
    color:transparent;
    -webkit-text-stroke:0.007em var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%,100%{
        display:none;
    }
}

.home-content h3 span::before{
    content:attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;  
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
    border: 2px solid #00abf0;
    position: relative;
    overflow: hidden;
}

.btn-box a:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    transition: 0.5s;
    z-index: -1;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2):hover::before {
    width: 100%;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: #081b29;
    transition: 0.5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    background: #00abf0;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.freeze-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* or rgba(0,0,0,0) */
  z-index: 9999;
  pointer-events: all;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 5%;
}

span{
    color: #00abf0;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: left;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: var(--second-bg-color);
}

.about-content, .skills-row{
    margin-left: 10%;
    margin-right: 10%;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    margin: 0 10% 0 10%;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40 rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 1.3rem;
}

.education-content .content p{
    font-size: 1.2rem;
}

.skills{
    min-height:auto;
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}    

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 65%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 65%;
}

.portfolio, .work-section {
    padding: 2% 10% 10% 10%;
}

.portfolio-container{
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 70vh;
}

.portfolio-details, .work-info {
    display: none;
}

.portfolio-details.active, .work-info.active {
    display: block;
}

.portfolio-box .numb, .work-info-box .work-num {
    font-size: 5.8rem;
    -webkit-text-stroke: .07rem white;
    color: transparent;
    line-height: 1;
}

.portfolio-box h3, .work-info-box h3 {
    font-size: 4.3rem;
    margin: .8rem 0 1rem;
}

.portfolio-box p, .work-info-box p {
    font-size: 1.3rem;
}

.portfolio-box .tech, .work-info-box .tech-stack {
    margin: 1rem 0;
    color: var(--main-color);
    border-bottom: .1rem solid white;
    padding-bottom: 1.1rem;
}

.portfolio-box .live-github a, .work-info-box .work-links a {
    position: relative;
    display: inline-flex;
    padding: .7rem;
    font-size: 2.5rem;
    color: white;
    border-radius: 50%;
    background-color: var(--secondary-bg);
    text-decoration: none;
    transition: .5s;
}

.portfolio-box .live-github a:hover, .work-info-box .work-links a:hover {
    color: var(--main-color);
}

.portfolio-box .live-github a:first-child {
    margin-right: 1.2rem;
}

.portfolio-box .live-github a:first-child i {
    transform: rotate(135deg);
}

.portfolio-box .live-github a span, .work-info-box .work-links a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 0.9rem;
    white-space: nowrap;
    padding: .3rem .7rem;
    border-radius: .3rem;
    pointer-events: none;
    background: white;
    color: var(--bg-color);
    opacity: 0;
    transition: .1s;
}

.portfolio-box .live-github a:hover span, .work-info-box .work-links a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.portfolio-box .portfolio-carousel {
    width: 100%;
    height: 28em;
    border-radius: 0.7rem;
    overflow: hidden;
}

.portfolio-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.portfolio-carousel .img-item {
    height: inherit;
}

.portfolio-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
}

.portfolio-box .navigation, .work-info-box .work-nav{
    text-align: right;
    margin-top: 1rem;
}

.portfolio-box .navigation button, .work-info-box .work-nav button {
    display: inline-flex;
    padding: .2rem;
    background: var(--bg-color);
    border: .1rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
}

.portfolio-box .navigation button.disabled, .work-info-box .work-nav button.disabled {
    border-color: var(--secondary-bg);
    color: var(--disable-color);
}

.portfolio-box .navigation .arrow-right {
    margin-left: 1rem;
}

.work-section{
    display: none;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 60px 80px;
    background-color: var(--second-bg-color);
    padding: 3% 10% 5% 10%;
}

.contact-info{
    flex: 1;
    min-width: 300px;
    margin-top: 200px;
}

.contact-info h2{
    font-size: 5rem;
    margin-bottom: 3rem;
}

.contact-info p{
    font-size: 16px;
    margin: 15px 0;
}

.contact-info a{
    color: #00abf0;
    text-decoration: none;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem, 0;
    padding-top: .8rem;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    background: transparent;
    color: var(--text-color);
    font-size: 1.6rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact-info i{
    color: white;
}

form button {
    background: #00abf0;
    color: #081b29;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: #007aab;
}

.footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    height: 40px;
    width: 40px;
}

.short{
    display: none;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

#success-message {
    position: fixed;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(3, 36, 154);
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#success-message.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px);
}

@media (max-width: 768px) {
    .btn-box{
        gap: 10px;
    }
    .work-carousel{
        display: none;
    }
    .home-content .btn-box {
        width: 300px;
    }
    .home-sci {
        bottom: 20px;
    }
    .home-sci a {
        width: 20px;
        height: 20px;
        padding: 20px;
    }
    .home-img img {
        width: 250px;
        margin-left: 50%;
        margin-top: 10%;
    }
    form input, form textarea {
        width: 100%;
    }
    .profile{
        display: none;
    }
    .navbar{
        display: none;
    }
    .contact-info{
        margin-top: 20px;
    }
    .contact-info h2{
        font-size: 4.5rem;
    }
    .footer-iconTop{
        display: none;
    }
    .portfolio{
        display: none;
    }
    .full{
        display: none;
    }
    .work-section{
        display: block;
    }
    .short{
        display: block;
        text-align: center;
        padding-left: 40%;
    }
}